* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0px;
}

body {
  max-width: 1200px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  position: relative;
}

body > div {
  /* HTML elements always have some text white space between them because they were meant for text.
    Remove it by setting font size to zero.
   */
  font-size: 0;
  position: relative;
}

/* Menu begin */
#navbar {
  width: 95%;
  font-size: calc(9px + ((1vw - 3px) * 0.5));
  z-index: 3; /* Above text blocks if we want retractable menus*/
  display: flex;
  min-height: 50px;
  height: 80px;
  font-family: 'Hepta Slab', serif;
  padding-left: 10px; 
  padding-right: 10px;
  position: absolute;
  top: 20px;
}

#logo {
  margin-left: 5%;
  margin-right: auto;
  height: 100%;
}

#logo > img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  /* object-fit: contain; */
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: 'Hepta Slab', serif;
}

#links a {
  text-decoration: none;
  color: rgb(122, 116, 116);
  text-transform: uppercase;
  font-weight: bold;
}

#links a:hover {
  color: #cf0808;
}

/* =======================
******* Mobile Menu ******
========================*/
/* .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

a {
  font-family: "Hepta Slab", sans-serif;
}

/* Mobile to Tablet  */
/* @media (min-width: 320px) and (max-width: 767px) {
  #links,
  .mobile-menu {
    display: none;
  }
  #logo {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 70px;
  }
  body{
      background-size: contain;
      background-repeat: no-repeat;
  }
} */

/* Tablet to Desktop */
@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

/* Menu end */

#intro-text-wrapper {
  width: 45%;
  max-width: 45%;
  height: 38%;
  max-height: 75%;
  color: rgb(56, 63, 57);
  left: 55%;
  top: 62%;
}

.body-text {
  width: 100%;
  /* font-weight: 500; */
  /* font-size: 1em; */
  position: relative;
  /* margin-bottom: 2em; */
}

.body-text p {
  margin-bottom: 1rem;
}
.body-text p:last-child {
  margin-bottom: 0rem;
}


#logo-text-wrapper {
  width: 40%; 
  max-width: 40%;
  top: 0%;
  height: 100%;
  color: rgb(56, 63, 57);
  left: 60%;
}

h2 {
  margin-bottom: 20px;
}

#books-text-wrapper {
  width: 30%; 
  max-width: 30%;
  height: 70%;
  max-height: 70%;
  color: rgb(56, 63, 57);
  left: 30%;
  top: 25%;
}

#author-text-wrapper {
  width: 50%; 
  max-width: 50%;
  height: 10%;
  color: rgb(56, 63, 57);
  left: 60%;
  top: 5%;
}

#our-authors {
  font-size: 1.5em;
  font-weight: bold;
}


/* class common to all text wrappers */
.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + ((1vw - 3.2px) * 0.5));
  hyphens: auto;
  -webkit-hyphens: auto;
  font-family: 'Hepta Slab', serif;
  line-height: 150%;
  z-index: 2;
  text-align: left;
  padding: 20px;
  position: absolute;
  overflow: scroll;

}

@media screen and (max-width: 750px) {
  .text-wrapper {
    font-size: 8px;
  }
}


.bg-img {
   /*margin-bottom: 10px;  This is for debugging, for seeing the splits between the background images*/
   width: 100%;
}

#gallery-img-container {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  position: absolute;
  height: 65%;
  width: 100%;
  position: absolute;
  top: 20%;
}

.gallery-img {
  height: 100%;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.gallery-img img{
  border-radius: 5px;
  border: 1px solid grey;
  height: 100%;
  max-height: 100%;
  width: auto;
  object-fit: contain;
}
