* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0px;
}

html {
  font-size: 12px; /* default. See media queries*/
}


@media screen and (max-width: 500px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 11px;
  }
}


@media screen and (min-width: 700px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 15px;
  }
}


@media screen and (min-width: 900px) {
  .text-wrapper {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  .text-wrapper {
    font-size: 17px;
  }
}


@media screen and (min-width: 1100px) {
  html {
    font-size: 18px;
  }
}


body {
  max-width: 1200px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  position: relative;
}

body > .section {
  /* This is only for index.html. Sections have images in the background, but not
    as a background-image prop, for responsive reasons.
    When multiple ".section"s are joined together, there is a thin line separating
    them, because HTML elements because they were meant for text, and two empty divs
    next to each other will leave that white line. Remove it by setting font size to zero.
    Font-size is reset appropriately for inside elements.
   */
  font-size: 0;
  position: relative;
  width: 100%;
}


/* Menu begin */
#navbar {
  width: 98%;
  font-size: 0.8rem;
  z-index: 3; /* Above text blocks if we want retractable menus*/
  display: flex;
  font-family: "Hepta Slab", serif;
  padding-left: 10px;
  padding-right: 5px;
  position: absolute;
  top: 1.5rem;
}

#logo {
  margin-left: 0px;
  margin-right: auto;
  height: 100%;
}

#logo img {
  height: 4rem;
  width: 4rem;
}

#navbar ul {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Hepta Slab", serif;
  list-style-type: none;
}

#links a {
  text-decoration: none;
  color: rgb(122, 116, 116);
  /* text-transform: uppercase; */
  font-weight: bold;
}

#links a:hover {
  color: rgb(178, 69, 52);
}

#links .active-page {
  border-bottom: 2px solid rgb(178, 69, 52);
}

/* Menu end */

.body-text {
  display: block;
  width: 100%;
  position: relative;
  overflow: scroll;
}

.body-text p {
  margin-bottom: 1rem;
}
.body-text p:last-child {
  margin-bottom: 0rem;
}

/* class common to all text wrappers */
.text-wrapper {
  font-family: "Hepta Slab", serif;
  font-size: 1rem;
  line-height: 160%;
  z-index: 2;
  text-align: left;
  padding-right: 10px;
  position: absolute;
  /* overflow: scroll; */
}
.text-center {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow:scroll;
}

#intro-text-wrapper {
  width: 45%;
  height: 15.5%;
  color: rgb(56, 63, 57);
  left: 53%;
  top: 34%;
}


#logo-text-wrapper {
  width: 40%;
  top: 51%;
  height: 17%;
  color: rgb(56, 63, 57);
  left: 60%;
}

h2 {
  margin-bottom: 10px;
}

#author-text-wrapper {
  width: 50%;
  height: 10%;
  color: rgb(56, 63, 57);
  left: 53%;
  top: 77%;
}

#our-authors {
  font-size: 1.5em;
  font-weight: bold;
}

#books-text-wrapper {
  width: 28%;
  height: 18%;
  color: rgb(56, 63, 57);
  left: 31%;
  top: 8%;
}

#book-sample {
  top:24%;
  left: 64%;
  font-size: 0.8rem;
  width: 20rem;
  cursor: pointer;
}

#films-text-wrapper {
  width: 50%;
  height: 11%;
  color: rgb(56, 63, 57);
  left: 40%;
  top: 28%;
}

#apps-text-wrapper {
  width: 40%;
  height: 7%;
  color: rgb(56, 63, 57);
  left: 52%;
  top: 53%;
}

#other-sub-text-wrapper {
  width: 53%;
  height: 4%;
  color: rgb(56, 63, 57);
  left: 31%;
  top: 61.5%;
}

.bg-img {
  /*margin-bottom: 10px;  This is for debugging, for seeing the splits between the background images*/
  width: 100%;
}


#book-open {
  position: fixed; 
  display: none;
  z-index: 20;
  /* overflow: hidden; */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  /* background-color: white; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#book-open-inner {
  position: relative;
  display: flex;
  background: white;
}

 /* induce artifical row break in flex layout */
.break {
  flex-basis: 100%;
  height: 0;
}

/* Used where width is more constraining. All units are in vw, and aspect ratio is maintained*/
.bb-vw { 
  width: 80vw;
  height: calc(80vw * 787/1024);
  margin-left: auto;
  margin-right: auto;
}

/* Used where height is more constraining. All units are in vh */
.bb-vh {
  /*top: 10vh;
  left: 10vh;*/
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: calc(80vh * 1024/787);
}

#bb-bookblock {
  /* width/height set by .bb-vw or .bb-vh, depending on screen orientation.*/
  font-size: 1rem;
	position: relative;
  z-index: 100;

	-webkit-perspective: 1300px;
	perspective: 1300px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
	border-left:   1px solid grey;
	border-bottom: 1px solid grey;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  /* background: white; */
  cursor: pointer;

}


#book-close {
  z-index: 1000;
  position: absolute;
  right: -10px;
  top: -15px;
  width: 30px;
  height: 30px;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: auto;
  border-radius: 50%;
  background: black;
  color: white;
  line-height: 30px;
}

#book-close:hover,
#book-close:focus {
  background: yellow;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.more-text-indicator {
  box-shadow: 0 -1em 1em -1em rgb(90, 90, 52) inset;
}


.nGY2 .toolbar .label .title {
  font-family: "Hepta Slab", serif;
  font-size: 1.3rem;
}

#process-container {
  width: 100%;
  background-image: url("../img/default-bg.jpg");
}

#process-top {
  padding-top:5rem;
  width: 100%;
  max-width: 100%;
}

#process-top img {
  width: 100%;
  height: auto;
}


#process-grid {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "left middle right";
}

#process-grid #left {
  display: flex;
  flex-direction: column;
  grid-area: "left";
  width: 80%;
  justify-items: center;
  justify-content: space-evenly;
  max-width: 200px;
  margin-left: 10px;
}

#process-grid#left div {
  width: 90%;
  padding: 10%;
}

#process-grid #left img {
  width: 100%;
  height: auto;
}

#process-grid #middle {
  padding: 20px;
  grid-area: middle;
  font-family: "Hepta Slab", serif;
  line-height: 160%;
  font-size: 1em;
}

#process-grid#right {
  grid-area: right;
  display: flex;
}

#process-grid #middle div {
  text-align: start;
  margin-bottom: 1.5em;
}

#process-grid #middle h2 {
  text-align: start;
  font-size: 1.2em;
  margin-bottom: 1em;
  line-height: 150%;
}

#process-grid #process-bottom {
  position: absolute;
  padding: 10px;
  bottom: -8vw;
  /* so that only the tree is to the right, but the kids are below the text*/
  right: 0;
  width: 45%;
}

.spacer {
  /* extra space due to process-bottom */
  display: block;
  width: 10px;
  height: 3em;
  border-left: 2px dotted gray;
  font-size: 1em;
}

#process-grid #process-bottom img {
  width: 100%;
  height: 100%;
}

#gallery-container {
  width: 100%;
  background-image: url("../img/default-bg.jpg");
}

#nanogallery {
  padding-top:6rem; 
  font-size: 1.2rem;
}
